body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.caption {
    text-align: center;
}

/* ====================================================== */

.caption {
    position: relative;
}

.caption::before, .caption::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
    position: absolute;
    top: -10%;
}

.caption::before {
    left: -150px;
    background: #f40d0d;
}
.caption::after {
    right: -150px;
    background: #0c0ce5;
}