body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-weight: 400; */
    /* font-size: 16px; */
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    /* сокращённно "m0-a" */
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ========================================== */

.header{
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav{
    margin-left: auto;
}

.heder-list{
    display: flex;
}

.heder-item{
    margin-right: 30px;
}

.header-button{
    color: #2766ae;
    border-radius: 100px;
    background: #ffffff;
    padding: 14px 30px;
    font-weight: 500;
}
/* ================================= */

.hero{
    background:url("../img/hero-bg.jpg");
}
